name: Generate pac file

on:
  schedule:
    - cron: 0 0 * * 5
  push:
    branches:
      - master
    paths: 
      - rules.txt
  workflow_dispatch:

jobs:
  generate:
    name: Generate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Setup generate tool
        uses: BSFishy/pip-action@v1
        with:
          packages: genpac

      - name: Run generate tool
        run: genpac --format pac --user-rule-from ./rules.txt --pac-proxy "SOCKS5 127.0.0.1:10808" > ./pac.txt

      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Commit and push
        uses: EndBug/add-and-commit@v9.1.4
        with:
          message: "chore: ${{ steps.date.outputs.date }} update pac.txt"
          add: pac.txt
          author_name: taozhiyu
          author_email: 49258735+taozhiyu@users.noreply.github.com
